<!DOCTYPE html>
<html ng-app='app2'>

<head>
  <meta charset="utf-8">
  <title>Eindopdracht B</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="js/carController.js"></script>
  <style>
    .arrow-up {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 10px solid black;
      display: inline-block;
    }

    .arrow-down {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 10px solid black;
      display: inline-block;
    }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>

  <div ng-controller='carController'>

    <table class="table">
      <tr class="thead-dark">
        <th ng-click="sortData('Merk')">
          <p class="btn btn-dark">Merk</p>
        </th>
        <th ng-click="sortData('Kenteken')">
          <p class="btn btn-dark">Kenteken</p>
        </th>
        <th ng-click="sortData('Kleur')">
          <p class="btn btn-dark">Kleur</p>
        </th>
        <th ng-click="sortData('Deuren')">
          <p class="btn btn-dark">Deuren</p>
        </th>
        <th ng-click="sortData('Prijs')">
          <p class="btn btn-dark">Prijs</p>
        </th>
      </tr>
      <tr ng-repeat='car in cars | orderBy:sortColumn:reverseSort'>
        <td>{{car.merk | uppercase}}</td>
        <td>{{car.kenteken}}</td>
        <td>{{car.kleur}}</td>
        <td>{{car.aantaldeuren}}</td>
        <td>{{car.prijs | currency}}</td>
      </tr>
    </table>

  </div>




</body>

</html>
